nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 14px 16px;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 26px;
}
nav a {
    text-decoration: none;
    color: #919191;
}
.pic-block {
    width: 100px;
    height: 51px;
    background-image: url(public/signature.png);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position: center;

}
