.section-one-aboutme {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #dec088;
    z-index: 0;
    height: 450px;

}

.name-pic {
    text-align: end;
    width: 500px;
    height: 500px;
    color: #fda400;
    font-size: 21px;
    font-weight: bolder;
    position: relative;
}

.Pic-personal {
    width: 700px;
    height: 450px;
    margin-top: 0px;
    background-image: url(/dffdas.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 650px;
    z-index: 100;

}

.pic-deco {
    background-color: #898927;
    width: 580px;
    height: 400px;
    position: absolute;
    bottom: 48px;
    z-index: 0;
    border-radius: 20px;
    opacity: 4%;
    border: 2px solid black;
}

.sec-text {
    width: 40%;
    text-align: end;
}

.sec-text button {
    background-color: #EBAA00;
    border-radius: 22px;
    color: black;
    padding: 15px 17px;
    width: 50%;
    font-size: 28px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5px;
    cursor: pointer;
}

.sec-text-name {
    color: white;
    margin-top: 100px;
    font-size: 36px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation-name: textcolor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}

@keyframes textcolor {
    0% {
        color: white;
    }

    100% {
        color: rgb(0, 0, 0);
    }
}

.text {
    overflow-wrap: break-word;
}

.content-text {
    color: white;
    margin: 50px 10%;
    font-size: 28px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 100px;
}

.education {
    color: white;
    margin: 50px 10%;
    font-size: 28px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roadmap {
    position: relative;
    display: flex;
}

.dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}

.rec {
    width: 300px;
    height: 15px;
    background-color: black;
    position: absolute;
}

.group-roadmap #dot1 {
    left: 80px;
}

.group-roadmap #rec1 {
    top: 20px;
    left: 118px;
    width: 400px;
}

.group-roadmap #dot2 {
    left: 530px;
}

.group-roadmap #rec2 {
    top: 20px;
    left: 450px;
    width: 550px;
}

.group-roadmap #dot3 {
    left: 985px;
}

.group-roadmap {
    position: relative;
    align-items: center;
    height: 70px;
    margin: 20px 0px;
}

.education-road {
    display: flex;
    justify-content: space-around;
}

.education-road p {
    width: 20%;
}



.about-me-animation:after {
    content: "";
    animation: textAppear 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes textAppear {
    0% {
        content: "A";
    }

    14% {
        content: "Ab";
    }

    28% {
        content: "Abo";
    }

    42% {
        content: "Abou";
    }

    56% {
        content: "About";
    }

    70% {
        content: "About";
    }

    84% {
        content: "About m";
    }

    100% {
        content: "About me";
    }
}

@media only screen and (max-width: 800px) {
    .section-one-aboutme {
        flex-direction: column;
        height: auto;
    }

    .sec-text {
        width: 100%;
        text-align: center;
        background-color: rgb(24, 24, 24);
        padding: 10px;
    }
    .name-pic{
        width: 100%;
        height: 80%;
    }
    .Pic-personal{
        width: 100%;
        background-position: center;
        background-size: 100%;
    }
    .pic-deco{
        display: none;
    }

    .sec-text-name {
        margin-top: 0;
        font-size: 24px;
    }
    .roadmap{
        display: none;
    }
    .education-road{
        margin-top: 10px;
        flex-direction: column;
    }
    .education-road p {
        width: 100%;
    }
}